= render "shared/content_title", title: "All Posts"

%ul
  - @posts.each do |post|
    .row
      .span8.well
        = render post.categories
        %h4=link_to post.title, post_path(post)
        %p=post.description
        %p
          %span.quite posted by
          =post.user.username
        %small
          %span
          -# =link_to("#{post.comments.size} comments", post_path(post))
